* {
    font-family: Roboto, sans-serif;
}

body {
    background-color: cornsilk;
}

button {
    margin-top: 40px;
    height: 60px;
    width: 200px;
    cursor: pointer;
    font-size: 15px;
    color: white;
    background-color: #d10808;
    border: 0;
    border-radius: 8px;
}

button:hover {
    background-color: #bd0808;
    transition: 400ms;
}

img {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100vh;
    width: 100vw;
}

.content{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title {
    display: flex;
    align-items: row;
    color: cornsilk;
}

.counter {
    margin-left: 10px;
}

.timer {
    background-color: rgb(226, 191, 146);
    width: 500px;
    height: 150px;

    border-width: medium;
    border-radius: 8px;
    border-style: solid;
    border-color: black;

    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clock {
    display: flex;
    flex-direction: row;
}

#hour, #second, #minute {
    margin-left: 10px;
}

.time-left {
    margin-bottom: 0;
}

@media (max-width: 540px) {
    .timer {
        width: 400px;
    }
}

@media (max-width: 420px) {
    .timer {
        width: 300px;
    }
}

@media (max-width: 350px) {
    .title {
        font-size: small;
    }

    .timer {
        font-size: small;
        width: 260px;
        height: 125px;
    }
}